{% extends "layout/main.html" %}
{% import 'macros/macros.html' as general_macros %}

{% block page_title %}Alerts{% endblock %}

{% block page_header %}
    <h1>
        Alerts
        <small></small>
    </h1>
{% endblock %}
{% block breadcrumb_items %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if alerts %}
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <h3 class="box-header with-border">Alerts</h3>
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>Time</td>
                                <td>Turbine</td>
                                <td>Description</td>
                                <td>Notes</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for alert in alerts %}
                                <form action="{{ url_for('alerts.edit', alert_id=alert.id) }}" method="post">
                                <tr>
                                    <td>{{ alert.time }}</td>
                                    <td><a href="{{ url_for('windfarm.turbine', turbine_id=alert.turbine_id) }}">{{ alert.turbine.name }}</a></td>
                                    <td>{{ alert.description }}</td>
                                    <td><textarea name="note">{{ alert.note }}</textarea></td>
                                    <td><input type="submit" class="btn btn-primary" value="Save"></td>
                                </tr>
                                </form>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
